<?xml version="1.0" encoding="UTF-8"?>
<!-- There is not DTD or XSD for logback.xml because the syntax is extremely 
    flexible. Thread discussion here
    http://www.mail-archive.com/logback-user@qos.ch/msg00055.html
-->
<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/compiler.%d{yyyy-MM-dd'T'HHmm}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
        </encoder>
    </appender> 

    <logger name="ch.qos.logback" level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="ar.exa.edu.unicen.compiler.lexical" level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
</configuration>
